<table>
  <tr>
    <th>Stock</th>
    <th>Ticker</th>
    <th>Value</th>
    <th>Value Change (%)</th>
    <th>Portfolio</th>
    <th>Volume</th>
    <th>Purchase</th>
  </tr>
  <tr ng-repeat="datalist in datalists |
  pagination: curPage * pageSize | limitTo: pageSize">
    <form novalidate>
      <td>{{datalist.stockname}}</td>
      <td>{{datalist.stockticker}}</td>
      <td>{{datalist.stockvalue}}</td>
      <td>{{datalist.stockvaluepercentagechange}}</td>
      <td>
        <select ng-model='stocks.portfolioname' ng-options='userportfolioname for userportfolioname in userportfolionames' required>
          <option value=''>Portfolio</option>
        </select>
      </td>
      <td>
        <input type="text" ng-model='stocks.buyvolume' name='buyvolume' required>
      </td>
      <td>
        <input type="submit" ng-click='stocks.buyStock(datalist.stockid, datalist.stockvalue)' value="Buy">
      </td>
    </form>
  </tr>
</table>

<div class="pagebuttons" ng-show="datalists.length">
  <ul>
    <li>
      <button type="button" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">
        PREV
      </button>
    </li>
    <li>
      <span>
        Page {{curPage + 1}} of {{ numberOfPages() }}
      </span>
    </li>
    <li>
      <button type="button" ng-disabled="curPage >= datalists.length/pageSize - 1" ng-click="curPage = curPage+1">
        NEXT
      </button>
    </li>
  </ul>
</div>
