<div ng-repeat='studentportfolioname in studentportfolionames'>
  <h1>{{studentportfolioname}}</h1>
  <table>
    <tr>
      <th>Stock Name</th>
      <th>Stock Ticker</th>
      <th>Buy Price</th>
      <th>Volume</th>
      <th>Value</th>
    </tr>
    <tr ng-repeat='studentportfoliostock in studentportfoliostocks | filter:{portfolioname:studentportfolioname}'>
      <td>{{studentportfoliostock.stockname}}</td>
      <td>{{studentportfoliostock.stockticker}}</td>
      <td>{{studentportfoliostock.buyprice}}</td>
      <td>{{studentportfoliostock.volume}}</td>
      <td>{{studentportfoliostock.volume * studentportfoliostock.buyprice}}</td>
    </tr>
  </table>
  <br>
</div>

<form ng-show='classes.isTeacher()'  ng-submit='classes.createClass()'>
  <label for="createClass">Class Name:</label>
  <input type="text" name="createClass" id="createClass" ng-model="classes.classname" required>
  <input type="submit" value="Create a class">
</form>
<form ng-submit='classes.AddUserToClass()'>
  <label for='joinClass'>Class ID:</label>
  <input type="text" name="joinClass" id="joinClass" ng-model="classes.joinClass" required>
  <input type="submit" value="Join a class"><br>
</form>
<p ng-show='classes.isTeacher()'>Click on a student's name to see their portfolios</p>

<h2>You are a member of the following classes:</h2>
<div class='Class' ng-repeat='userclassname in userclassnames'>
  <p>{{userclassname.classname}}, Classid: {{userclassname.classid}}</p>
  <table>
    <tr>
      <th>Forename</th>
      <th>Surname</th>
      <th>Teacher?</th>
    </tr>
    <tr ng-repeat='userclass in userclasses | filter:{classname:userclassname.classname }'>
      <td ng-click='classes.getStudentPortfolios(userclass.userid)'>{{userclass.forename}}</td>
      <td>{{userclass.surname}}</td>
      <td>{{userclass.teacher}}</td>
      <td ng-show='classes.isTeacher()'><button ng-click="classes.removeUserFromClass(userclass.userid, userclass.classid)">Remove User</button></td>
    </tr>
  </table>
</div>
<!--TODO: 1 displays as teacher, and 0 as student -->
