* {
  margin:0;
  padding:0;
}

body {
background-color:white;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

input[type='submit'], button{
  background-color: black;
  border: none;
  color:white;
  border-radius:4px;
  font-size:12px;
  padding:6px 9px 7px 9px;
}

.main-body-wrapper {
  float:left;
  height:auto;
  width:80%;
  margin-left:10%;
  margin-top:40px;
  margin-bottom:40px;

}

.main-body-wrapper table {
  border-collapse: collapse;
  margin: 0 auto;

}

.main-body-wrapper td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.main-body-wrapper tr:nth-child(even) {
    background-color: #dddddd;
}
.login-wrapper {
  float:left;
  width:70%;
  margin: 0, auto;
  border:1px solid #E31E2B;
  padding: 0 0 20px 0;
  margin:40px 0 0 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.login-wrapper form{
  width:70%;
  margin-left:15%;
}
.login-wrapper form input{
  outline: none;
}

.login-wrapper form input[type='text'], input[type='password'], input[type='email']{
  width:100%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #9C9C9C;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-wrapper form input:focus{
  border-color:black;
}
.login-wrapper form input[type='submit']:hover{
  background-color:#E31E2B;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.login-wrapper form input[type='submit']{
  background-color: black;
  border: none;
  color:white;
  border-radius:4px;
  font-size:12px;
  padding:6px 9px 7px 9px;
}
.login-wrapper form #newforename, #newsurname{
  width:48%;
  margin: 8px 1% 0 0;
  display:inline;
}

.lgin-wrapper .ng-touched.ng-invalid {
  border-color:red;
}

.Class p {
  font-size:;
}

.LoginTabs {
  height:auto;
  }
.LoginTabs ul {
  display:block;
  margin: 0 auto;
  text-align:center;
  overflow: hidden;
}
.LoginTabs ul li {
  position: relative;
  display:inline-block;
  font-weight:300;
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  padding:15px 20px 21px 20px;
}
.LoginTabs ul li > a{
  position:relative;
  text-decoration:none;
  color:black;
  padding-bottom:5px;
}
.LoginTabs ul li.hoverable > a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color:black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.LoginTabs ul li.hoverable > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.LoginTabs ul .active a:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color:#E31E2B;
}
.LoginTabs ul .active a{
  color:#E31E2B;
}

form p {
  font-weight:300;
  font-family: 'Lato', sans-serif;
  font-size:20px;
}

form p span {
  font-weight:300;
  font-family: 'Lato', sans-serif;
  font-size:15px;
  color:#E31E2B;
}

.pagebuttons ul {
  display:block;
  margin: 0 auto;
  text-align:center;
  overflow: hidden;
}

.pagebuttons ul li{
  display:inline-block;
  font-size:17px;
  padding:10px 15px 16px 10px;
}

.menu-line{
  bottom:21px;
  display:block;
  height:1px;
  width:23px;
  margin-bottom:6px;
  border-radius: 1px;
  background-color: white;
}
.menu-line-1{
  margin-top:7px;
}

/*Responsive LoginTabs code stolen from W3schools*/

.LoginTabs ul li.icon {
  display:  none;

}

@media screen and (max-width:680px) {
  div.LoginTabs ul li:not(:first-child) {
    display: none;
  }

  div.LoginTabs ul li.icon {
    float:right;
    display: inline-block;
    position:relative;
  }
  }
  div.LoginTabs ul li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  div.LoginTabs.responsive ul {position: relative;}
  div.LoginTabs.responsive ul li {
    float: none;
    display: block;
  }
}


#header {
height:auto;
width:100%;
background-color:white;
margin: 0 auto;

}
#header h1 {
font-family: 'Playfair Display SC' , serif;
color:black;
font-weight:lighter;
font-size:80px;
vertical-align: middle;
text-align:center;
padding: 40px 0 20px 0;
}
#header h2 {
  font-family: 'Playfair Display', sans-serif;
  font-size:30px;
  font-weight:300;
  text-align:center;
  font-style:italic;
  padding: 0 0 40px 0;
  color:#737373;
}
.line-breaker{
  display:block;
  width:100%;
  border-top: 2px solid #F2F2F2 ;
}


@media only screen and (max-width: 680px) {
  .main-body-wrapper {
    width:90%;
    margin:20px auto 20px;
  }
}
@media only screen and (min-width: 1441px) {
  .main-body-wrapper{
    width:95%;
    margin-left:2.5%;
  }
}
#footer2 {
  width:100%;
  float:left;
  height:30px; /*Make height auto after adding content*/
  background-color:#333536;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#footer {
  text-align: center;
  width:100%;
  float:left;
  background-color:black;
  height:auto; /*Make height auto after adding content*/
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#footer p {
  color:white;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight:300;
  padding:70px 0 70px 0;
}
