/* General style rules */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

h1,
h2{
  font-family: 'Lato', sans-serif;
}

input[type='submit'],
button{
  background-color: black;
  border: none;
  color: white;
}

input[type='submit'] {
  font-size: 15px;
  padding: 5px 5px 5px 5px;
}

button  {
  font-size: 20px;
  padding: 6px 9px 7px 9px;

}

input[type='submit']:hover,
button:hover {
  background-color: red;
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

form input{
  outline: none;
}

form input[type='text'],
input[type='password'],
input[type='email'],
input[type='number']{
  border: 1px solid #9c9c9c;
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: 5px 5px;
}

form input:focus{
  border-color: black;
}

p, label {
  font: 20px 'Lato', sans-serif;
}

select{
 font: inherit;
}

.ng-touched.ng-invalid {
  border-color: red;
}

.error {
 color: red;
}

.message {
  color: green;
}

.line-breaker{
  border-top: 2px solid #f2f2f2 ;
  display: block;
  width: 100%;
}

/* Main body wrapper */

.main-body-wrapper {
  float: left;
  height: auto;
  margin: 40px 0 40px 0;
}

.main-body-wrapper table {
  border-collapse: collapse;
}

.main-body-wrapper td, th {
  font: 20px;
  border-bottom: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.main-body-wrapper td u {
  color: blue;
}

.main-body-wrapper td u:hover {
  color: red;
}

/* Login Page wrapper */

.login-wrapper {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid red;
  float: left;
  margin: 40px 0 0 0;
  padding: 0 0 20px 0;
  width: 70%;
}

.login-wrapper form {
  margin-left: 15%;
  width: 70%;
}

.login-wrapper form #newforename, #newsurname{
  display: inline;
  margin: 8px 1% 0 0;
  width: 48%;

}

/*Navigation tabs*/

.tabs {
  height: auto;
}

.tabs ul {
  display:block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.tabs ul li {
  display: inline-block;
  font: 23px 'Lato', sans-serif;
  padding: 15px 20px 21px 20px;
  position: relative;
}

.tabs ul li > a{
  color: black;
  text-decoration: none;
  padding-bottom: 5px;
  position: relative;
}

.tabs ul li.hoverable > a:before{
  background-color:black;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  width: 100%;
}

.tabs ul li.hoverable > a:hover:before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  visibility: visible;
}

.tabs ul .active a:after{
  background-color: red;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.tabs ul .active a{
  color: red;
}

.tabs ul li.icon {
  display: none;
}

/*Stocks form page buttons*/

.pagebuttons ul {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.pagebuttons ul li{
  display: inline-block;
  font-size: 17px;
  padding: 10px 15px 16px 10px;
}

/* Menu lines */

.menu-line{
  background-color: white;
  bottom: 21px;
  border-radius: 1px;
  display: block;
  height: 1px;
  margin-bottom: 6px;
  width: 23px;
}

.menu-line-1{
  margin-top: 7px;
}

/* Header */

#header {
  background-color: white;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

#header h1 {
  color: black;
  font: 80px 'Playfair Display SC' , serif;
  padding: 40px 0 20px 0;
  text-align: center;
  vertical-align: middle;
}
#header h2 {
  color:#737373;
  font: 30px 'Playfair Display', sans-serif;
  padding: 0 0 40px 0;
  text-align: center;
}

/*Footers*/

#footer-top {
  background-color: #333536;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  float: left;
  height: 30px;
  width: 100%;
}

#footer-bottom {
  background-color: black;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  float: left;
  height: auto;
  text-align: center;
  width: 100%;
}

#footer-bottom p {
  color: white;
  font: 15px 'Lato', sans-serif;
  padding: 70px 0 70px 0;
}

/* Responsive media queries */

@media only screen and (max-width: 1440px) {
  .main-body-wrapper{
    margin-left: 30%;
    width: 40%;
  }
}

@media only screen and (max-width: 1055) {
  p, label {
    font-size: 22px;
  }

  #header h1{
    font-size: 57px;
  }

  .main-body-wrapper {
    margin-left: 15%;
    width: 70%;
  }

  input[type='submit'], button{
    font-size: 19px;
  }
}

@media only screen and (max-width:680px) {
  p, label {
    font-size: 25px;
  }

  div.tabs ul li.icon {
    display: inline-block;
    float: right;
    position: relative;
    right: 0;
    top: 0;
  }

  div.tabs ul {
    position: relative;
  }
  div.tabs ul li {
    float: none;
    display: block;
    font-size: 40px;
  }

  #header h1{
    font-size: 55px;
  }
  .main-body-wrapper {
    margin-left: 5%;
    width: 90%;
  }

  input[type='submit'], button{
    font-size: 20px;
  }
}
