<form ng-submit='portfolios.createPortfolio()'>
  <label for="createPortfolio">Portfolio Name:</label>
  <input type="text" name="createPortfolio" id="createPortfolio" ng-model="portfolios.portfolioname" maxlength='20' required>
  <input type="submit" value="Create a portfolio"><br>
</form>
<br>

<h2>Your portolios:</h2>

<div ng-repeat='userportfolioname in userportfolionames'>
  <h1>{{userportfolioname}}</h1>
  <table>
    <tr>
      <th>Stock Name</th>
      <th>Stock Ticker</th>
      <th>Buy Price</th>
      <th>Volume</th>
      <th>Value</th>
      <th>Volume</th>
      <th>Sell</th>
    </tr>
    <tr ng-repeat='portfoliostock in portfoliostocks | filter:{portfolioname:userportfolioname}'>
      <form name='sellStockForm' ng-submit='portfolios.sellStock(portfoliostock.portfoliostocklinkid, portfoliostock.stockid, portfoliostock.volume)' novalidate>
        <td>{{portfoliostock.stockname}}</td>
        <td>{{portfoliostock.stockticker}}</td>
        <td>{{portfoliostock.buyprice}}</td>
        <td>{{portfoliostock.volume}}</td>
        <td>{{portfoliostock.volume * portfoliostock.buyprice}}</td>
        <td>
          <input type="number" ng-model='portfolios.sellvolume' name='volume' min='0' max='portfoliostock.volume' required>
        </td>
        <!--TODO: validate sellvolume. Perhaps use the same thing as in stocks with the thing you want to sell at the top etc.-->
        <td>
          <input type="submit" ng-disabled='sellStockForm.volume.$error.number || (sellStockForm.volume.$error.required && sellStockForm.volume.$touched)' value="Sell">
        </td>
      </form>

    </tr>
  </table>
  <br>
  <span class='error' ng-show="sellStockForm.volume.$error.number">
    Please enter a valid number
  </span>
  <span class='error' ng-show="sellStockForm.volume.$error.required && sellStockForm.volume.$touched">
    Please enter a number
  </span>
</div>
