<div class='login-wrapper'>
  <form name="loginform" ng-submit="login.login()" novalidate>
    <br>
    <h2>Welcome back!</h2><br>
    <p>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" ng-model="login.username" maxlength='60' required>
      <br><br>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" ng-model="login.password" maxlength='100' required>
      <br><br>
      <input type="submit" value="Login"><br>
      <span class='error' ng-show=''>
        Incorrect username or password
      </span>
    </p>
  </form>
</div>
